{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block page_account_register_inner %}
    <div class="row">
        {% if theme_config('dmf-account-variant') == "default" %}
            <div class="col-lg-4">
                {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                    'cardTitle': "account.loginHeader"|trans|sw_sanitize
                } %}

                <div class="login-advantages">
                    <div class="login-advantages-header">
                        <strong>{{ "account.registerAdvantagesHeader"|trans|sw_sanitize }}</strong>
                    </div>

                    <ul>
                        <li>{{ "account.registerAdvantage1"|trans|sw_sanitize }}</li>
                        <li>{{ "account.registerAdvantage2"|trans|sw_sanitize }}</li>
                        <li>{{ "account.registerAdvantage3"|trans|sw_sanitize }}</li>
                        <li>{{ "account.registerAdvantage4"|trans|sw_sanitize }}</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-7 ml-auto">
                {% sw_include '@Storefront/storefront/component/account/register.html.twig' with {
                    'cardTitle': "account.registerPersonalHeader"|trans|sw_sanitize
                } %}
            </div>
        {% else %}
            <div class="col-lg-4 m-auto account-register-col">
                {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                    'cardTitle': "account.loginHeader"|trans|sw_sanitize
                } %}

                <div class="register-expand-button-container">
                    <p class="no-account-text">{{ 'account.registerText'|trans }}</p>
                    <a href="javascript:void(0)" data-register-expand="true" class="btn btn-secondary btn-block">{{ 'account.registerExpand'|trans }}</a>
                    <div class="tab-content hidden" id="registerContent">
                        {% sw_include '@Storefront/storefront/component/account/register.html.twig' with {
                            'cardTitle': "account.registerPersonalHeader"|trans|sw_sanitize
                        } %}
                    </div>
                </div>

                <div class="login-advantages">
                    <div class="login-advantages-header">
                        <strong>{{ "account.registerAdvantagesHeader"|trans|sw_sanitize }}</strong>
                    </div>

                    <ul>
                        <li>{{ "account.registerAdvantage1"|trans|sw_sanitize }}</li>
                        <li>{{ "account.registerAdvantage2"|trans|sw_sanitize }}</li>
                        <li>{{ "account.registerAdvantage3"|trans|sw_sanitize }}</li>
                        <li>{{ "account.registerAdvantage4"|trans|sw_sanitize }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
