{% sw_extends '@Storefront/storefront/layout/breadcrumb.html.twig' %}

{% block layout_breadcrumb_list_item %}
    <li class="breadcrumb-item{% if theme_config('dmf-breadcrumb-size') == 1 and key != breadcrumbKeys|last %} d-none d-md-inline-block{% endif %}"
        {% if key is same as(categoryId) %}aria-current="page"{% endif %}
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem">
        {% if breadcrumbCategory.type == 'folder' %}
            <div>{{ name }}</div>
        {% else %}
            <a href="{{ category_url(breadcrumbCategory) }}"
               class="breadcrumb-link {% if key is same as(categoryId) %} is-active{% endif %}"
               title="{{ name }}"
               {% if category_linknewtab(breadcrumbCategory) %}target="_blank"{% endif %}
               itemprop="item">
                <link itemprop="url"
                      href="{{ category_url(breadcrumbCategory) }}"/>
                <span class="breadcrumb-title" itemprop="name">{{ name }}</span>
            </a>
            <meta itemprop="position" content="{{ breadcrumbCategory.id }}"/>
        {% endif %}
    </li>
{% endblock %}

{% block layout_breadcrumb_placeholder %}
    {% if key != breadcrumbKeys|last %}
        <div class="breadcrumb-placeholder {% if theme_config('dmf-breadcrumb-size') == 1 and key != breadcrumbKeys|last %} d-none d-md-inline-block{% endif %}">
            {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
        </div>
    {% endif %}
{% endblock %}
