{% block page_product_detail_reviews_container %}
    {% set remoteClickOptions = {
        selector: "#review-tab",
        scrollToElement: true
    } %}

    {% if page.product.ratingAverage > 0 and shopware.config.core.listing.showReview %}
        <p class="product-detail-reviews">
            {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                points: page.product.ratingAverage,
                style: 'text-primary'
            } %}
            {% if shopware.theme['dmf-detail-tabs'] == 'tabs' %}
                <a data-toggle="tab"
                   class="product-detail-reviews-link"
                   data-offcanvas-tabs="true"
                   data-remote-click="true"
                   data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                   href="#review-tab-pane"
                   aria-controls="review-tab-pane">
                    {{ page.reviews.totalReviews}}
                    {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                </a>
            {% elseif shopware.theme['dmf-detail-tabs'] == 'accordion' %}
                <span class="product-detail-reviews-link">
                    {{ page.reviews.totalReviews}}
                    {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                </span>
            {% else %}
                <a class="product-detail-reviews-link"
                   data-offcanvas-tabs="true"
                   data-remote-click="true"
                   data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                   href="#review-tab-pane">
                    {{ page.reviews.totalReviews}}
                    {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
