{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_wishlist_action %}
    {% if theme_config('dmf-product-box-wishlist-position') == 'image' %}
        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
            appearance: 'circle',
            productId: id
        } %}
    {% endif %}
{% endblock %}

{% block component_product_box_info %}
    <div class="product-info">
        {% block component_product_box_rating %}
            {% if product.ratingAverage %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block component_product_box_name %}
            {{parent()}}
        {% endblock %}

        {% block component_product_box_variant_characteristics %}
            {% if not product.isGrouped and product.variation %}
                {% if theme_config('dmf-product-box-show-variants') %}
                    <div class="product-variant-characteristics">
                        <div class="product-variant-characteristics-text">
                            {% for variation in product.variation %}
                                {{ variation.group }}:
                                <span class="product-variant-characteristics-option">
                                    {{ variation.option }}
                                </span>

                                {% if product.variation|last != variation %}
                                    {{ " | " }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block component_product_box_description %}
            {% if theme_config('dmf-product-box-description-enable') %}
                <div class="product-description">
                    {{ product.translated.description|striptags|raw }}
                </div>
            {% endif %}
        {% endblock %}

        {% block component_product_box_details %}
            <div class="row">
                {% set deliveryTime = product.deliveryTime and theme_config('dmf-listing-product-box-disable-deliverytime') %}
                {% set productNumber = product.productNumber and theme_config('dmf-listing-product-box-disable-productnumber') %}

                {% if deliveryTime or productNumber %}
                    <div class="product-details col-12 col-md-6 col-lg-8 col-xl-8">
                        {% if product.deliveryTime and theme_config('dmf-listing-product-box-disable-deliverytime') %}
                            <p class="mb-1 manu-product-deliverytime">
                                {{ "listing.deliveryTime"|trans|sw_sanitize }}
                                {{ product.deliveryTime.name }}
                            </p>
                        {% endif %}
                        {% if product.productNumber and theme_config('dmf-listing-product-box-disable-productnumber') %}
                            <p class="mb-0 manu-product-number">
                                {{ "listing.productNumber"|trans|sw_sanitize }}
                                {{product.productNumber}}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% block component_product_box_price %}
            {{parent()}}
        {% endblock %}

        {% block component_product_box_action %}
            {{parent()}}
        {% endblock %}
    </div>
{% endblock %}
