{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_total_link %}
    <div class="col">
        <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}"
           title="{{ "header.searchAllResults"|trans|striptags }}"
           class="search-suggest-total-link">
            {{ "header.searchAllResults"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}

{% block layout_search_suggest_result_total %}
    {{ parent() }}

    {% if theme_config('dmf-customer-support') %}
        <li class="search-suggest-not-found text-center">
            <a href="{{ "header.searchHelpTextUrl"|trans|sw_sanitize }}"
               class="search-suggest-not-found-link"
               title="">{{ "header.searchHelpText"|trans|sw_sanitize }}</a>
        </li>
    {% endif %}
{% endblock %}
