{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_inner %}
    <div class="{% if not headerWidget %}account-aside{% else %}header-account-menu{% endif %}">
        <div class="card account-menu-inner">
            {% block page_account_sidebar_header %}
                {% if not headerWidget %}
                    <div class="card-header account-aside-header">
                        {{ "account.asideTitle"|trans|sw_sanitize }}
                    </div>
                    <div class="account-home-subtitle d-lg-none">
                        {{ "account.homeSubtitle"|trans|sw_sanitize }}
                    </div>
                {% endif %}
            {% endblock %}

            {% block page_account_sidebar_menu %}
                {% if not context.customer.guest %}
                    <div class="list-group">
                        {% block page_account_sidebar_menu_inner %}
                            {% block page_account_sidebar_link_home %}
                                <a href="{{ path('frontend.account.home.page') }}"
                                   title="{{ "account.overviewLink"|trans|striptags }}"
                                   class="list-group-item-action account-home-link account-aside-item{% if controllerName is same as('AccountProfile') and controllerAction is same as('index') %} is-active{% endif %}">
                                    <div class="aside-menu-item">
                                        <span class="title">{{ "account.overviewLink"|trans|sw_sanitize }}</span>
                                        <span class="subtitle">{{ "account.asideHomeSubtitle"|trans|sw_sanitize }}</span>
                                        <span class="arrow right"></span>
                                    </div>
                                </a>
                            {% endblock %}

                            {% block page_account_sidebar_link_orders %}
                            <a href="{{ path('frontend.account.order.page') }}"
                               title="{{ "account.ordersLink"|trans|striptags }}"
                               class="list-group-item-action account-aside-item{% if controllerName is same as('AccountOrder') and controllerAction is same as('orderOverview') %} is-active{% endif %}">
                                <div class="aside-menu-item">
                                    <span class="title">{{ "account.ordersLink"|trans|sw_sanitize }}</span>
                                    <span class="subtitle">{{ "account.asideOrderSubtitle"|trans|sw_sanitize }}</span>
                                    <span class="arrow right"></span>
                                </div>
                            </a>
                            {% endblock %}

                            {% block page_account_sidebar_link_profile %}
                            <a href="{{ path('frontend.account.profile.page') }}"
                               title="{{ "account.profileLink"|trans|striptags }}"
                               class="list-group-item-action account-aside-item{% if controllerName is same as('AccountProfile') and controllerAction is same as('profileOverview') %} is-active{% endif %}">
                                    <div class="aside-menu-item">
                                        <span class="title">{{ "account.profileLink"|trans|sw_sanitize }}</span>
                                        <span class="subtitle">{{ "account.asideProfileSubtitle"|trans|sw_sanitize }}</span>
                                        <span class="arrow right"></span>
                                    </div>
                            </a>
                            {% endblock %}

                            {% block page_account_sidebar_link_address %}
                            <a href="{{ path('frontend.account.address.page') }}"
                               title="{{ "account.addressLink"|trans|striptags }}"
                               class="list-group-item-action account-aside-item{% if controllerName is same as('Address') and controllerAction is same as('accountAddressOverview') %} is-active{% endif %}">
                                    <div class="aside-menu-item">
                                        <span class="title">{{ "account.addressLink"|trans|sw_sanitize }}</span>
                                        <span class="subtitle">{{ "account.asideAddressSubtitle"|trans|sw_sanitize }}</span>
                                        <span class="arrow right"></span>
                                    </div>
                            </a>
                            {% endblock %}

                            {% block page_account_sidebar_link_payment %}
                            <a href="{{ path('frontend.account.payment.page') }}"
                               title="{{ "account.paymentLink"|trans|striptags }}"
                               class="list-group-item-action account-aside-item{% if controllerName is same as('AccountPayment') and controllerAction is same as('paymentOverview') %} is-active{% endif %}">
                                    <div class="aside-menu-item">
                                        <span class="title">{{ "account.paymentLink"|trans|sw_sanitize }}</span>
                                        <span class="subtitle">{{ "account.asidePaymentSubtitle"|trans|sw_sanitize }}</span>
                                        <span class="arrow right"></span>
                                    </div>
                            </a>
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block page_account_sidebar_footer %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
